<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/js/member/member.css">
    <link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <!-- <script src="/bootstrap-4.6.1-dist/js/popper.min.js"></script> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script> -->
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <!-- <script src="/js/member/LeftNavBar.js"></script> -->
</head>

<body>
    
        <div class="container row  border border-danger h-100 align-items-center ">
            <div class="col-12 col-lg-10 text-center offset-lg-1 row-box p-3 mb-5">
                <h1>您所找的網頁不存在，將重新導回首頁</h1>
                <div id="timeBox"></div>
                <script>
                    // 設定秒數
                    var count = 5;
                    function countDown() {
                        // 將秒數寫在指定元素中
                        document.getElementById("timeBox").innerHTML = count;
                        // 每次執行就減1
                        count -= 1;
                        // 當 count = 0 時跳轉頁面
                        if (count == 0) {
                            location.href = "/home/product/male";
                        }
                        // 設定每秒執行1次
                        setTimeout("countDown()", 1000);
                    }
                    // 執行 countDown
                    countDown();
                </script>
            </div>
        </div>

   


</body>

</html>