<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/admin/jquery.min.js"></script>
    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>function.pop</title>
    <style>
        .fpop_inp {
            height: 35px;
            width: 100%;
            border: 1px solid #acacac;
            border-radius: 6px;
            font-size: 10px;
            margin: 10px 0;
            padding: 0 10px;
        }

        .fpop_inp:focus {
            background-color: #ececec;
        }

        .footerMell>div>div>a {
            color: white;
            font-size: small;

        }

        .fpop_inperro {
            height: 35px;
            width: 100%;
            border: 1px solid #d83838;
            border-radius: 6px;
            font-size: 10px;
            margin: 10px 0;
            padding: 0 10px;
        }

        .inp_right {
            border: 1px solid #33a51d;
            border-radius: 6px;
            background-color: azure;
        }

        .inp_Err {
            text-align: right;
            font-size: 5px;
            color: #d83838;
            /* visibility: hidden; */
            /* visibility:visible; */
        }
    </style>
</head>

<body>

    <nav>
        <%- include("navbar.ejs") %>
    </nav>
    <div style="margin: 0px auto 100px; width: 300px;">
        <h6 style="font-weight: 600;text-align: center;">註冊新帳號</h6>
        <p style="text-align: center;">儲存您的資料,享有快速結帳流程、建立願望清單、查看訂單紀錄、查詢退貨紀錄。</p>
        <p style="opacity: 0.6;text-align: center;">*星號欄位必填</p>
        <form id="form">

            <label>姓名*:</label>
            <p class="inp_Err" style="visibility: hidden" id="nameErr">請填寫姓名欄位*</p>
            <input class="fpop_inp" type="text" id="cName" name="cName" placeholder="名字*">


            <label>生日*:</label>
            <p class="inp_Err" style="visibility: hidden" id="birthErr">請填寫生日欄位*</p>
            <input class="fpop_inp" type="date" id="cBirth" name="cBirth">
            <label>性別*:</label>
            <p class="inp_Err" style="visibility: hidden" id="genderErr">請填寫性別欄位*</p>
            <select class="fpop_inp" id="gender" name="cgender">
                <option name="gender" value="F">女性</option>
                <option name="gender" value="M">男性</option>
                <option name="gender" value="X">不說</option>
            </select>
            <!-- <label>電子郵件*:</label>
            <p class="inp_Err" id="accountErr">請填寫電子郵件欄位*</p>
            <input class="fpop_inp" type="email" id="cAccount" name="cAccount" placeholder="電子郵件*">
            <label>連絡電話*：</label>
            <p class="inp_Err" id="phoneErr">請填寫連絡電話欄位*</p>
            <input class="fpop_inp" type="tel" id="cPhone" name="cPhone" placeholder="連絡電話*"
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">

            <label>通訊地址*：</label>
            <input class="fpop_inp" type="text" name="cAddr" placeholder="通訊地址*"><br>
            <button class="btn btn-dark" id="submit">註冊會員</button> -->
        </form>
    </div>

    <script>

        $("#cName").on('input', function () {
            if (!($("#cName").val() == '')) {
                $("#cName").addClass("inp_right")
                $("#nameErr").css('visibility', 'hidden')
            }
        })
        $("#cBirth").on('input', function () {
            if (!($("#cBirth").val() == '')) {
                $("#cBirth").addClass("inp_right")
                $("#birthErr").css('visibility', 'hidden')
            }
        })
        $("#gender").on('select', function () {
            if (!($("#gender").val() == '')) {
                $("#gender").addClass("inp_right")
                $("#genderErr").css('visibility', 'hidden')
            }
        })

        function checkInputInfo() {
            var x = $("cName").value;
            var y = $("cBirth").value;
            if (x == null || x == "") {
                $("#cName").addClass("fpop_inperro")
                $("#nameErr").css('visibility', 'visible')
                // return false
            } 
            if (y == null || y == "") {
                $("#cBirth").addClass("fpop_inperro")
                $("#birthErr").css('visibility', 'visible')
                return false
            }
            return true
        }

        // 關鍵字 serializeArray() ,stringify()

        $("#submit").on('click', function () {
            if (!checkInputInfo()) {

                // alert("資料輸入有誤");
                return false
            }
            var data = $('#form').serializeArray()
            JSONData = serializeToJSON(data)
            $.ajax({
                url: "http://localhost:3000/admin/goods/register",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSONData,
                success: function (res) {
                    alert("新增成功!");
                },
                error: function () {
                    alert("新增失敗!");
                }
            });
            function serializeToJSON(data) {
                var values = {};
                for (index in data) {
                    values[data[index].name] = data[index].value;
                }
                return JSON.stringify(values)
            }
        })


    </script>

    <footer class="footer">
        <%- include("footer.ejs") %>
    </footer>
</body>

</html>