<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <!-- <script src="/bootstrap-4.6.1-dist/js/popper.min.js"></script> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script> -->
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <style>



    </style>
</head>

<body>
    <div class="wrapper">
<!-- 產品分類導覽列 -->
<div class="container">
    <%- include("navbar.ejs") %>
        <!-- 左邊選單列 -->
        <%- include("template/LeftNavBar") %>
            <!-- 右邊資訊欄 -->
            <div class="col-10">
                <p class="text-center">訂單資訊</p>
                <hr>
                <p>訂單編號：TW8000201170592 <span
                        class="px-3 py-1 ml-2 border border  -success text-success rounded">完成</span></p>
                <p>訂單日期：2022/4/1 10:08</p>
                <p class="bg-light p-3">商品名稱</p>
                <hr>
                <div class="row row-cols-4 ">
                    <div class="col">商品名稱</div>
                    <div class="col">金額</div>
                    <div class="col">數量</div>
                    <div class="col">小計</div>
                </div>
                <hr>
                <div class="row row-cols-4 py-3">
                    <div class="col">Micah 草編真皮厚底涼鞋,石灰白,36碼</div>
                    <div class="col">NT$891.00</div>
                    <div class="col">數量: 1</div>
                    <div class="col">NT$891.00</div>
                </div>
                <div class="row row-cols-4 py-3">
                    <div class="col">Micah 草編真皮厚底涼鞋,石灰白,36碼</div>
                    <div class="col">NT$891.00</div>
                    <div class="col">數量: 1</div>
                    <div class="col">NT$891.00</div>
                </div>
                <div class="row row-cols-4 py-3">
                    <div class="col">Micah 草編真皮厚底涼鞋,石灰白,36碼</div>
                    <div class="col">NT$891.00</div>
                    <div class="col">數量: 1</div>
                    <div class="col">NT$891.00</div>
                </div>
                <p class="bg-light p-3">商品總結</p>
                <div class="row">
                    <div class="col-2 py-2">商品數量：</div>
                    <div class="col-10 py-2">3件商品</div>
                    <div class="col-2 py-2">小計：</div>
                    <div class="col-10 py-2">2673元</div>
                </div>
                <div class="text-center my-5"> <a href="#" class="px-3 py-2 text-white bg-dark rounded">檢視所有訂單資訊</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="push"></div>
</div>
    </div>

    
    <footer class="footer">
        <%- include("footer.ejs") %>
    </footer>
</body>

</html>