<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" type="text/css" href="/css/all.css" />
  <link rel="stylesheet" href="/Plugins/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/Plugins/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <script src="/js/shop_cart/cookie.js"></script>
  <script src="https://kit.fontawesome.com/93e1c8f0af.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <%- include("navbar.ejs") %>
      <table>
        <thead>
          <th colspan=""></th>
        </thead>
      </table>
      <!-- outline_class  oib oig oi  oir-->
      <div class="container">
        <div class="cart_content">
          <div class="row content_text">
            <div class="col-9" style="padding: 0">
              <div class="row cart_banner">
                <div class="col-12 top_link">
                  <ul class="cart-link">
                    <li><a href="/">首頁</a></li>
                    <li>
                      <a href="#">購物車</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 mid mb-3">
                  <h6 style="font-size: 1.2em;
                  font-weight: 900;">購物車</h6>
                </div>
                <div class="col-12 cart-step">
                  <ul class="fz-dark">
                    <li>
                      <span>1</span>
                      查看購物車
                    </li>
                    <li>
                      <span>2</span>
                      訂單確認
                    </li>
                    <li>
                      <span>3</span>
                      訂單完成
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row content_pid">
            <div class="col-9">
              <div class="cart container-fluid">
                <div class="row fz-dark">
                  <div class="col-2">
                    <input type="checkbox" class="to_ck" checked />全選
                  </div>
                  <div class="col-3">商品名稱</div>
                  <div class="col-2">金額</div>
                  <div class="col-2">數量</div>
                  <div class="col">小計</div>
                  <div class="col"></div>
                </div>
              </div>
              <div id="css_tbody" class="container-fluid css_tbody"></div>
            </div>
            <div class="col-3" style="padding: 0">
              <div class="div cart_Order">
                <div style="text-align: center">
                  <p>訂單確認</p>
                </div>
                <div class="py-2">
                  <p>
                    <b>總計商品件數:</b>
                    <span class="float-right"><span id="total_count">0</span> 件</span>
                  </p>
                  <p>
                    <b>小計:</b><span class="float-right">NT$<span id="total_price">0</span></span>
                  </p>
                  <p>
                    <b>運費:</b><span class="float-right">NT$<span>0</span></span>
                  </p>
                </div>
                <div class="py-3">
                  只差NT$ <span>0</span>，即可享有免費標準運送。
                </div>
                <div class="pt-2 mb-4">
                  <p>
                    <b>總額:</b><span class="float-end">NT$<span>0</span></span>
                  </p>
                </div>
                <div class="text-center" id="buy">
                  <button>結帳</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="border-top: 0.9px solid #000;">
        <div class="container">
          <div class="row">
            <div style="font-weight: 900;" class="col text-center mb-5 mt-2 ">熱門商品</div>
          </div>
          <div class="row">
            <div class="col">
              <div class="owl-carousel owl-theme">
                <div class="item">
                  <div class="img"></div>
                  <h6>Micah 草編真皮厚底涼鞋 - 石灰白</h6>
                  <p>NT $ 1,500</p>
                </div>
                <div class="item">
                  <div class="img"></div>
                  <h6>Micah 草編真皮厚底涼鞋 - 石灰白</h6>
                  <p>NT $ 1,500</p>
                </div>
                <div class="item">
                  <div class="img"></div>
                  <h6>Micah 草編真皮厚底涼鞋 - 石灰白</h6>
                  <p>NT $ 1,500</p>
                </div>
                <div class="item">
                  <div class="img"></div>
                  <h6>Micah 草編真皮厚底涼鞋 - 石灰白</h6>
                  <p>NT $ 1,500</p>
                </div>
                <div class="item">
                  <div class="img"></div>
                  <h6>Micah 草編真皮厚底涼鞋 - 石灰白</h6>
                  <p>NT $ 1,500</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="push"></div>
  </div>
  <footer class="footer">
    <%- include("footer.ejs") %>
  </footer>


  <script src="/js/shop_cart/jquery.js"></script>
  <script src="/Plugins/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="/js/shop_cart/server.js"></script>
  <script src="/js/shop_cart/cart.js"></script>
  <script src="/js/shop_cart/owl.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>