<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row pb-3 mt-5">
        <div class="col-2">

            <p><a href="/home/member/memberData" class="nav-link text-dark memberData">個人資料</a></p>
            <p><a href="/home/member/orderList" class="nav-link text-dark orderList">訂單&退貨</a></p>
            <p><a href="/home/member/myFavourite" class="nav-link text-dark myFavourite">我的最愛</a></p>
        </div> 
</body>
</html>




