<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="row">
        <div class="col-6">
            你好！
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-outline-dark my-2 my-sm-0" href="/login">登入</a>
            <a class="btn btn-outline-warning my-2 my-sm-0" href="/register">註冊</a>
        </div>
    </div>

</body>

</html>