<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../_css/bootstrap.css">
    <link rel="stylesheet" href="../fpop_css/fpop.css">
    <script src="../_js/jquery.min.js"></script>
    <!-- <script src="../_js/popper.min.js"></script> -->
    <link rel="icon" href="/img/black_icon.png" type="image/gif" sizes="16x16">
    <script src="../_js/bootstrap.min.js"></script>
    <title>f.pop 後台管理</title>
    <style>
    
      
    </style>
</head>

<body>
    <div class="container" style="width: 500px;">
        <div class=" shadow-lg ">

            <div class="p-5 imgcontainer m-5">
                <a class="navbar-brand " href="#"><img src="../img/logo_black.svg" width="60px" height="60px">
                    <img src="../img/logo_text_black.svg" width="170px" height="70px"></a>
                <div class="text-center">
                    <h4 class="mb-4 mt-5 font-weight-bold">後台管理系統</h4>
                </div>
                <form class="user">
                    <div class="form-group">
                        <input class="form-control form-control-user" id="exampleInputEmail"
                            aria-describedby="emailHelp" placeholder="帳號">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                            placeholder="密碼">
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <!-- <label class="custom-control-label" for="customCheck">記住我</label> -->
                        </div>
                    </div>
                    <a href="/html/Backstage_index.html" class="btn btn-primary btn-user btn-block">
                        登入
                    </a>

                </form>
                <hr>
                <footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- <div class="text-center">
                    <a class="small" href="forgot-password.html">忘記密碼</a>
                </div> -->

            </div>
        </div>
    </div>
    </div>
    </div>

    </div>



    </div>
</body>

</html>