<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/js/member/member.css">
<link rel="stylesheet" href="/js/member/bootstrap-4.6.1-dist/css/bootstrap.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <script src="/js/member/bootstrap-4.6.1-dist/js/jquery.min.js"></script>
    <!-- <script src="/bootstrap-4.6.1-dist/js/popper.min.js"></script> -->
    <!-- <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script> -->
    <script src="/js/member/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <!-- <script src="/js/member/LeftNavBar.js"></script> -->
    <style>
      
        body{
            background-color: white
        }
        .row-box{
            background-color: white;
            border-radius: 30px;
            box-shadow: 12px 12px 22px grey;

        }
        img{
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        .btn1{
            border: none;
            outline: none;
            height: 50px;
            width: 100%;
            background-color: black;
            color: white;
            border-radius: 4px;
            font-weight: bold;
        }
        .btn1:hover{
            background-color: white;
            color: black;
            border: 1px solid;
        }

        .input-group {
            position: relative;
        }

        .input {
            padding: 10px;
            border: none;
            border-radius: 4px;
            color: black;
            background-color: transparent;
            outline: 2px solid wheat;
        }

        .input-label {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(20px, 20px);
            transition:transform .5s;
        }

        .input:focus+.input-label,
        .input:valid+.input-label {
            transform:translate(10px, -14px) scale(.8);
            border: 2px solid black ;
            color: #FFE200;
            padding-inline: 5px;
            background-color: #242329;
        }

        .input:is(:focus, :valid) {
            outline-color:grey
        }
        @media screen and (max-width: 990px){
         .aa img{
        border-radius: 30px;
        width: 100%;
              } 
        }
    </style>
</head>

<body>
    <%- include("../navbar.ejs") %>

    <section class="Form my-4 mx-5">
        <div class="container">            
            <div class="row row-box no-gutters">
                <div class="col-12 col-lg-6 aa">
                    <img src="/img/index/f3.jpg" alt="">
                </div>
                <% if(!memberprofile) {%>
                <div class="col-12 col-lg-6 px-5 pt-5 mb-2 ">
                     
                    <!-- <h1 class="font-weight-blod py-3">FunctionPOP</h1> -->
                    <div class="row my-2 ">
                        <img src="/img/admin/logo_text_black.svg" class="col-7">
                    </div>
                    <h4 class="mb-2">登入您的帳戶</h4>
                    <% if (errorMessage.length > 0) { %>
                        <div class="alert alert-danger col-lg-7 mt-3 p-3" role="alert">
                          <%= errorMessage %>
                        </div>
                        <% } %>
                    <form action="/home/member/login" method="POST">
                        <div class="form-row">
                            <div class="col-lg-7 input-group">
                                <input type="text"  name="cAccount" id="email" required class="form-control my-3 p-4 input">
                                <label for="email" class="input-label">Email_Address</label>
                            </div>
                         
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7 input-group">
                                <input type="password" name="cPassword" id="M_Password" required class="form-control my-3 p-4 input">
                                <label for="M_Password" class="input-label">Password</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn1 mt-3 mb-5">Login</button>
                            </div>
                        </div>
                        <a href="#">忘記密碼</a>
                        <p>沒有帳戶嗎？<a href="/home/member/register">註冊</a> </p>
                    </form>
                </div> <!-- col-lg-6 -->
              <% } else { %>
                <div class="col-12 col-lg-6 px-5  mb-lg-0 mb-5 text-center align-self-center  ">
                    <h1 class="font-weight-blod py-3">您已登入 </h1> 
                    <p class="font-weight-blod py-3 ">是否登出？</p> 
                     <a href="/home/member/logout" class="btn btn-outline-dark col-lg-6">Logout</a> 
                </div>
            
                <% } %>
            </div>  <!-- row -->
        </div>  <!-- container -->
    </section>


        <%- include("../footer.ejs") %>


</body>

</html>