.pagetwo {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -600;
    height: 100%;
    overflow: hidden;

}

.stories {
    position: relative;
    margin-left: 46.5%;
    width: 103px;
    height: 55px;
    font-family: 'Dorsa';
    font-size: 20px;
    font-weight: lighter;
    transform: scale(1, 4);
    line-height: 70px;
    letter-spacing: 0.5em;
    color: #FFFFFF;
}

.link-top {
    position: relative;
    margin-top: 2%;
    margin-left: 46.7%;
    width: 130px;
    height: 1px;
    border-top: solid #FFE200 1px;
}

.pagetwo_pic_div {
    /* border: 1px solid palevioletred; */
    position: relative;
    margin-top: 7%;
    text-align: center;
}

.pagetwo_outpicdiv {
    position: relative;
    /* border: 1px solid rgb(84, 13, 37); */
    /* margin: auto; */
}

.pagetwo_text {
    position: relative;
    /* border: 1px solid rgb(224, 161, 26); */
    margin: 10px auto;
}

.pagetwo_outpic {
    width: 85%;
    object-fit: cover;
}

.col_3_margin_left {
    margin-left: 6%;
}

.col_3_margin_right {
    margin-right: 6%;
}

.small_hide {

    margin: auto;
    text-align: center;
}

.down_up {
    position: relative;
}

.down_upi {
    position: relative;
}


@media screen and (max-width:1480px) {
    .link-top {
        margin-top: 3%;
        /* margin-left: 38%; */
    }
}

@media screen and (max-width:1250px) {
    .link-top {
        margin-top: 3.5%;
        /* margin-left: 38%; */
    }

    .pagetwo_pic_div {
        margin-top: 10%;
    }

    .col_3_margin_left {
        margin-left: 0%;
    }

    .col_3_margin_right {
        margin-right: 0%;
    }
}

@media screen and (max-width:1100px) {
    .stories {
        margin-left: 65%;
    }

    .link-top {
        margin-top: 3.5%;
        margin-left: 65.5%;
    }

    .pagetwo_pic_div {
        margin-top: 10%;
    }

    .col_3_margin_left {
        margin-left: 0%;
    }

    .col_3_margin_right {
        margin-right: 0%;
    }
}

@media screen and (max-width:992px) {
    .stories {
        /* padding-top: 15px; */
        margin-left: 25%;
    }

    .link-top {
        margin-top: 3.5%;
        margin-left: 25.5%;
    }
}

/* @media screen and (max-width:970px) {
    .link-top {
        margin-top: 3.5%;
    }
} */

@media screen and (max-width:767.98px) {

    /* .stories {
        margin-left: 37%;
    }
    */
    .link-top {
        margin-top: 5%;
        margin-left: 26%;
    }

    .pagetwo_pic_div {
        margin-top: 5%;
        /* border: 1px red solid; */
    }

    .small_hide {
        visibility: collapse;
    }

    .pagetwo_outpicdiv {
        /* margin-bottom: -60px; */
        left: 35%;
    }

    .pagetwo_text {
        visibility: collapse;
    }

    .secii {
        margin-top: -19%;
    }

    .down_up {
        margin-top: -139%;
    }

    .down_upi {
        margin-top: -19%;
    }

    .col_3_margin_left {
        margin-left: 0%;
    }

    .col_3_margin_right {
        margin-right: 0%;
    }
}

@media screen and (max-width:750px) {
    .secii {
        margin-top: -17%;
    }
    .down_up {
        margin-top: -143%;
    }
    .down_upi {
        margin-top: -16%;
    }

}

@media screen and (max-width:692px) {
    .down_upi {
        margin-top: -14%;
    }

}

@media screen and (max-width:645px) {

    .down_upi {
        margin-top: -10%;
    }
}

@media screen and (max-width:600px) {
    /* .stories {
        margin-left: 37%;
    } */

    .link-top {
        margin-top: 7.5%;
        /* margin-left: 38%; */
    }

    /* .pagetwo_pic_div {
        margin-top: 8%;
    } */

    .small_hide {
        visibility: collapse;
    }

    /* .pagetwo_outpicdiv {
        
        margin-bottom: -45px;
        left: 35%;
    } */

    .pagetwo_text {
        visibility: collapse;
    }

    /* .down_up {
        top: -470px;
    }

    .down_upi {
        top: -460px;
    } */

    .col_3_margin_left {
        margin-left: 0%;
    }

    .col_3_margin_right {
        margin-right: 0%;
    }
}

@media screen and (max-width:576px) {

    .stories {
        /* padding-top: 15px; */
        margin-top: 13%;
        margin-left: 10%;
    }

    .link-top {
        margin-top: 6%;
        margin-left: 10.5%;
    }
    .pagetwo_pic_div {
        margin-top: 5%;
    }

    .pagetwo_outpicdiv {

        /* margin-bottom: -45px; */
        left: 25%;
    }
    .secii {
        margin-top: -25%;
    }
    .down_up {
        top: 450px;
    }

    .down_upi {
        top: 440px;
    }
}

@media screen and (max-width:566px) {
    .down_upi {
        top: 420px;
    }
}

@media screen and (max-width:532px) {
    /* .secii {
        margin-top: -25%;
    } */
    .down_up {
        top: 423px;
    }

    .down_upi {
        top: 390px;
    }
}
@media screen and (max-width:450px) {
    .link-top {
        margin-top: 9.5%;
        /* margin-left: 38%; */
    }
}

@media screen and (max-width:420px) {
    .pagetwo_pic_div {
        margin-top: 5%;
    }

    .pagetwo_outpicdiv {

        /* margin-bottom: -45px; */
        left: 25%;
    }

    .secii {
        margin-top: -105px;
    }
    .down_up {
        top: 275px;
    }

    .down_upi {
        top: 195px;
    }
}