<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/all.css">

    <link rel="icon" href="/img/admin/black_icon.png" type="image/gif" sizes="16x16">
    <title>f.pop 後台管理/首頁</title>

</head>

<body id="page-top">
    <%- include("admin_navbar.ejs") %>
    <!-- Main Content -->
    <div class="fpop-main p-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/goods">Home</a></li>
            </ol>
        </nav>
       <h2>我是首頁</h2>
 
    </div>
    </div>
    <!-- Main Content end-->

</body>

</html>