<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/member/jquery.min.js"></script>
    <script src="/js/member/popper.min.js"></script>

    <style>



    </style>
</head>

<body>
    <div class="wrapper">
<!-- 產品分類導覽列 -->
<div class="container">
    <%- include("navbar.ejs") %>
        <!-- 左邊選單列 -->
        <div class="row pb-3 mt-5">
            <div class="col-2">
                <p><a href="#" class="nav-link text-dark">個人資料</a></p>
                <p><a href="" class="nav-link text-dark">訂單&退貨</a></p>
                <p><a href="" class="nav-link font-weight-bold text-dark">我的最愛</a></p>
            </div>
            <!-- 右邊內容：我的最愛 -->
            <div class="col-10">
                <p class="text-center">我的最愛 <span class="float-right">Ｎ件商品</span></p>

                <div class="row  border-top border-bottom border-danger p-3 text-center align-items-center">
                    <div class="d-none d-sm-inline col-8 col-xl-4 col-lg-4">商品名稱</div>
                    <div class="d-none d-sm-inline col-2 col-xl-2 col-lg-2">顏色</div>
                    <div class="d-none d-sm-inline col-2 col-xl-1 col-lg">尺寸</div>
                    <div class="col-xl-1 col-lg text-xl-center  d-none d-lg-inline">金額</div>
            <div class="col-xl-2 col-lg-2"></div>
            <div class="col-xl-2 col-lg-2"></div>
           
                </div>


                <div class="row row-cols-7 py-2 border-bottom border-secondary align-items-center text-center">
                    <div class="col-5 col-lg-2"><img class="" src="https://dummyimage.com/100x150/e8ecfc/f7cb0a&text=demo1" alt=""></div>
                    <div class="col-3 col-lg-2">Micah 草編真皮厚底涼鞋</div> 
                    <div class="col-2 col-lg-2">石白灰</div>
                    <div class="col-2 col-lg">36碼</div>
                    <div class="mt-2 col-4 col-lg">$890</div>
                  <a href="#" class="mt-2 col-4 col-lg-2 border border-success rounded text-dark py-2 ">移至購物車</a>
                    <a href="" class="mt-2 col-4 col-lg-2">垃圾桶</a>

                </div>
                <div class="row row-cols-7 py-2 border-bottom border-secondary align-items-center text-center">
                    <div class="col"><img src="https://dummyimage.com/100x150/e8ecfc/f7cb0a&text=demo2" alt=""></div>
                    <div class="col">Micah 草編真皮厚底涼鞋</div>
                    <div class="col">顏色:石白灰</div>
                    <div class="col">尺寸:36碼</div>
                    <div class="col">NT $890</div>
                    <a href="#" class="col border border-success rounded p-2 text-dark">移至購物車</a>
                    <a href="" class="col">垃圾桶</a>
                </div>
                <div class="row row-cols-7 py-2 border-bottom border-secondary d-flex align-items-center text-center">
                    <div class="col"><img src="https://dummyimage.com/100x150/e8ecfc/f7cb0a&text=demo3" alt=""></div>
                    <div class="col">Micah 草編真皮厚底涼鞋</div>
                    <div class="col">顏色:石白灰</div>
                    <div class="col">尺寸:36碼</div>
                    <div class="col">NT $890</div>
                    <a href="#" class="col border border-success rounded p-2 text-dark">移至購物車</a>
                    <a href="" class="col">垃圾桶</a>
                </div>
                <div class="row row-cols-7 py-2 border-bottom border-secondary d-flex align-items-center text-center">
                    <div class="col"><img src="https://dummyimage.com/100x150/e8ecfc/f7cb0a&text=demo4" alt=""></div>
                    <div class="col">Micah 草編真皮厚底涼鞋</div>
                    <div class="col">顏色:石白灰</div>
                    <div class="col">尺寸:36碼</div>
                    <div class="col">NT $890</div>
                    <a href="#" class="col border border-success rounded p-2 text-dark">移至購物車</a>
                    <a href="" class="col">垃圾桶</a>
                </div>
                <div class="row row-cols-7 py-2 border-bottom border-secondary d-flex align-items-center text-center">
                    <div class="col"><img src="https://dummyimage.com/100x150/e8ecfc/f7cb0a&text=demo5" alt=""></div>
                    <div class="col">Micah 草編真皮厚底涼鞋</div>
                    <div class="col">顏色:石白灰</div>
                    <div class="col">尺寸:36碼</div>
                    <div class="col">NT $890</div>
                    <a href="#" class="col border border-success rounded p-2 text-dark">移至購物車</a>
                    <a href="" class="col">垃圾桶</a>
                </div>
                <div class="row row-cols-7 py-2 border-bottom border-secondary d-flex align-items-center text-center">
                    <div class="col"><img src="https://dummyimage.com/100x150/e8ecfc/f7cb0a&text=demo6" alt=""></div>
                    <div class="col">Micah 草編真皮厚底涼鞋</div>
                    <div class="col">顏色:石白灰</div>
                    <div class="col">尺寸:36碼</div>
                    <div class="col">NT $890</div>
                    <a href="#" class="col border border-success rounded p-2 text-dark">移至購物車</a>
                    <a href="" class="col">垃圾桶</a>
                </div>
            </div>
        </div>
        <p class="text-center mt-5 font-weight-bold">新潮指標</p>
        <hr>
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
            <ol class="carousel-indicators mb-n4 ">
                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            </ol>
            <!-- <div class="carousel-indicators bg-danger mb-0 p-2">
                <button type="button" data-target="#carouselExampleControls" data-slide-to="0" class="" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-target="#carouselExampleControls" data-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-target="#carouselExampleControls" data-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active text-center  ">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=1">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=2">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=3">
                    <img class="mr-4 d-none d-lg-inline" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=4">
                    <img class="mr-4 d-none d-lg-inline" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=5">
                </div>
                <div class="carousel-item text-center">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=6">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=7">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=8">
                    <img class="mr-4 d-none d-lg-inline" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=9">
                    <img class="mr-4 d-none d-lg-inline" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=10">
                </div>
                <div class="carousel-item text-center">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=11">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=12">
                    <img class="mr-4" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=13">
                    <img class="mr-4 d-none d-lg-inline" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=14">
                    <img class="mr-4 d-none d-lg-inline" src="https://dummyimage.com/100x150/f7f7f7/7cfa5c.jpg&text=15">
                </div>
                <div class="align-items-center text-center ">
                    <button class="carousel-control-prev " type="button" data-target="#carouselExampleControls"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only bg-warning">Previous</span>
                    </button>
                </div>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
            
        </div>
        <div class="push"></div>
</div>
    </div>

    
    <footer class="footer">
        <%- include("footer.ejs") %>
    </footer>
</body>

</html>