.pagethree {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    z-index: -600;
    height: 100%;
    overflow: hidden;
}

.coupon {
    position: relative;
    text-align: center;
    /* border: 1px rebeccapurple solid; */
}

.left_12_5{
    margin-left: 12.5%;
}

.right_12_5{
    margin-right: 12.5%;
}
.threeimg {
    width: 85%;
    /* border: 1px rgb(130, 228, 110) solid; */
}

.pagethreemiddle {
    position: relative;
    text-align: center;
    top: 18%;
    width: 80%;
    margin: auto;
    /* border: 1px indigo solid; */
}

.middle_left {
    margin-left: 16.5%;
    padding-right: 0px;
    padding-left: 0px;
}

.pagethree_middle_pic {
    padding-right: 0px;
    padding-left: 0px;
    /* border: 1px rgb(225, 89, 164) solid; */
}

span {
    font-size: 2.5rem;
}

.pagethree_down {
    position: relative;
    text-align: center;
    top: 15%;
    letter-spacing: 0.2em;
    /* border: 1px rgb(225, 89, 164) solid; */
}

footer {
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0px;
    
    /* border: 1px rgb(255, 209, 234) solid; */
    background-image: linear-gradient(45deg, rgb(92, 59, 16), rgba(236, 177, 145, 0.338));
}

.ttt{
    visibility: visible;
}

.Belt_color,
.Glass_color{
    background-color: #FFE200;
    /* border: 1px rgb(85, 255, 241) solid; */
}

.downi{
    margin-left: 17%;
    
}
.downii{
    margin:0 auto;
}

.downiii{
    margin-right:17%;
}

.smalltext{
    visibility: collapse;
    position: relative;
    /* border: 1px rgb(15, 163, 2) solid; */
    width: 80%;
    margin: auto;
    padding-top: 5px;
}
@media screen and (max-width:1250px) {
    .pagethree_down{
        top: 10%;
    }
}
@media screen and (max-width:990px) {
    .coupon{
        height: 125px;
    }

    .ttt{
        visibility: collapse;
    }
}

@media screen and (max-width:854px) {
    .coupon{
        height: 125px;
    }

    .ttt{
        visibility: collapse;
    }
    /* .pagethree_middle_pic{
        visibility: collapse;
    } */

    .Glass_color{
        background-color: #7b7124;
    }
    span {
        font-size: 2rem;
    }

    .pagethreemiddle{
        width: 100%;
        top: 18%;
    }
    .Belt_color{
        height: 10%;
    }
    .pagethree_down{
        top: 10%;
        /* border: 1px rgb(225, 89, 164) solid; */
    }
    
    .downi h6,
    .downii h6,
    .downiii h6{
        visibility: collapse;
    }
    .downi,
    .downii,
    .downiii{
        padding: 5px;
        background-color: #f0ffff;
        height: 150px;
    }
    .downii{
        background-color: #c5e8e8;
    }
    .downiii{
        background-color: #abcece;
    }
    .smalltext{
        visibility: visible;
        background-color: #f0ffff;
        
    }
}
@media screen and (max-width:576px) {

    .pagethree_middle_pic{
        visibility: collapse;
    }

}

